<div class="container">
	<form action="/signup" method="post">
		<label class="control-lable">fullname</label>
		<input type="text" name="fullname" placeholder="fullname" class="form-control">
		<label class="control-lable">username</label>
		<input type="text" name="username" placeholder="username" class="form-control">
		<label class="control-lable">email</label>
		<input type="text" name="email" placeholder="email" class="form-control">
		<label class="control-lable">password</label>
		<input type="password" name="password" placeholder="password" class="form-control">
		<label class="control-lable">re-password</label>
		<input type="password" name="password" placeholder="password" class="form-control">
		<label class="control-lable">address</label>
		<input type="textarea" name="address" placeholder="address" class="form-control">
		<label class="control-lable">city</label>
		<select name="city" class="form-control">
			<option>select</option>
			<option>bhopal</option>
			<option>indore</option>
			<option>ujjain</option>
		</select>

		<br>
		<button class="btn btn-primary" class="submit">submit</button>
	</form>
</div>